{
  "parser": "vue-eslint-parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:vue/recommended",
    "@vue/typescript/recommended",
    "@vue/prettier"
  ],
  "rules": {
    "yoda": ["error", "always"],
    "import/no-extraneous-dependencies": "off"
  }
}
