.DS_Store
docs/
tests/
node_modules/
npm-debug.log*
coverage/
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Editor directories and files
.idea
.vscode
.bitmap
*.suo
*.ntvs*
*.njsproj
*.sln
.github/
