{
  "extends": [
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-sass-guidelines"
  ],
  "customSyntax": "postcss-html",
  "rules": {
    "selector-class-pattern": null
  }
}
