/* -----------------------------------------------------------------------------
 * - Menu Component -
 * -----------------------------------------------------------------------------
 */

// Radius for dropdown content
$borderRadius: 4px;

/* -----------------------------------------------------------------------------
 * - Mobile Component -
 * -----------------------------------------------------------------------------
 */

// Width and height for hamburger
$mobSize: 50px;

/* -----------------------------------------------------------------------------
 * - Customize -
 * -----------------------------------------------------------------------------
 */

// Primary color for links, background
$color: #6772e5;
$colorHover: #32325d;

// Speed to change dropdown content
$transition: .25s;

// Hover on links, hamburger
$transitionLinks: .1s ease;

/* -----------------------------------------------------------------------------
 * - Other -
 * -----------------------------------------------------------------------------
 */

// Change the interface under the mob. devices
$media: 670px;
